apiVersion: v1
kind: Secret
metadata:
  name: {{ include "otaflux.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "otaflux.labels" . | nindent 4 }}
stringData:
  {{- if .Values.otaflux.registryUrl }}
  REGISTRY_URL: {{ .Values.otaflux.registryUrl | quote }}
  {{- end }}
  {{- if .Values.otaflux.registryUsername }}
  REGISTRY_USERNAME: {{ .Values.otaflux.registryUsername | quote }}
  {{- end }}
  {{- if .Values.otaflux.registryPassword }}
  REGISTRY_PASSWORD: {{ .Values.otaflux.registryPassword | quote }}
  {{- end }}
  {{- if .Values.otaflux.registryInsecure }}
  REGISTRY_INSECURE: {{ .Values.otaflux.registryInsecure | quote }}
  {{- end }}
  {{- if .Values.otaflux.repositoryPrefix }}
  REPOSITORY_PREFIX: {{ .Values.otaflux.repositoryPrefix | quote }}
  {{- end }}
  {{- if .Values.otaflux.logLevel }}
  LOG_LEVEL: {{ .Values.otaflux.logLevel | quote }}
  {{- end }}
  {{- if .Values.otaflux.cosignPubKey }}
  COSIGN_PUB_KEY_PATH: /etc/otaflux/cosign.pub
  {{- end }}
  {{- if .Values.otaflux.listenAddr }}
  LISTEN_ADDR: {{ .Values.otaflux.listenAddr | quote }}
  {{- end }}
  {{- if .Values.otaflux.metricsListenAddr }}
  METRICS_LISTEN_ADDR: {{ .Values.otaflux.metricsListenAddr | quote }}
  {{- end }}
