apiVersion: v1
kind: Secret
metadata:
  name: {{ include "otaflux.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "otaflux.labels" . | nindent 4 }}
stringData:
  {{- with .Values.otaflux.registry }}
  {{- if .url }}
  REGISTRY_URL: {{ .url | quote }}
  {{- end }}
  {{- if .username }}
  REGISTRY_USERNAME: {{ .username | quote }}
  {{- end }}
  {{- if .password }}
  REGISTRY_PASSWORD: {{ .password | quote }}
  {{- end }}
  {{- if .insecure }}
  REGISTRY_INSECURE: {{ .insecure | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.otaflux.repositoryPrefix }}
  REPOSITORY_PREFIX: {{ .Values.otaflux.repositoryPrefix | quote }}
  {{- end }}
  {{- if .Values.otaflux.logLevel }}
  LOG_LEVEL: {{ .Values.otaflux.logLevel | quote }}
  {{- end }}
  {{- if .Values.otaflux.cosignPubKey }}
  COSIGN_PUB_KEY_PATH: /etc/otaflux/cosign.pub
  {{- end }}
  {{- if .Values.otaflux.listenAddr }}
  LISTEN_ADDR: {{ .Values.otaflux.listenAddr | quote }}
  {{- end }}
  {{- if .Values.otaflux.metricsListenAddr }}
  METRICS_LISTEN_ADDR: {{ .Values.otaflux.metricsListenAddr | quote }}
  {{- end }}
  {{- with .Values.otaflux.mqtt }}
  {{- if .url }}
  MQTT_URL: {{ .url | quote }}
  {{- end }}
  {{- if .username }}
  MQTT_USERNAME: {{ .username | quote }}
  {{- end }}
  {{- if .password }}
  MQTT_PASSWORD: {{ .password | quote }}
  {{- end }}
  {{- if .topic }}
  MQTT_TOPIC: {{ .topic | quote }}
  {{- end }}
  {{- if .caCert }}
  MQTT_CA_CERT_PATH: /etc/otaflux/mqtt/ca.crt
  {{- end }}
  {{- if and .clientCert .clientKey }}
  MQTT_CLIENT_CERT_PATH: /etc/otaflux/mqtt/client.crt
  MQTT_CLIENT_KEY_PATH: /etc/otaflux/mqtt/client.key
  {{- end }}
  {{- end }}
