{{- if .Values.otaflux.cosignPubKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "otaflux.fullname" . }}-cosign-pub-key
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "otaflux.labels" . | nindent 4 }}
stringData:
  cosign.pub: {{ .Values.otaflux.cosignPubKey | quote }}
{{- end }}
