{{- with .Values.otaflux.mqtt }}
{{- if .caCert }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "otaflux.fullname" $ }}-mqtt-tls
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "otaflux.labels" $ | nindent 4 }}
stringData:
  ca.crt: |
    {{- .caCert | nindent 4 }}
  {{- if and .clientCert .clientKey }}
  client.crt: |
    {{- .clientCert | nindent 4 }}
  client.key: |
    {{- .clientKey | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
